



$c-secondary-50: #adc8ef;
$c-secondary-100: #8cb2e9;
$c-secondary-200: #73a2e4;
$c-secondary-300: #6b9ce3;
$c-secondary-400: #4a86dc;
$c-secondary-500: #4a86dc;
$c-secondary-600: #286cce;
$c-secondary-700: #2057a5;
$c-secondary-800: #194584;
$c-secondary-900: #15386b;


$c-primary-50: #E5E7EB;
$c-primary-100: #BFC2CE;
$c-primary-200: #9499AE;
$c-primary-300: #69708D;
$c-primary-400: #495274;
$c-primary-500: #29335C;
$c-primary-600: #242E54;
$c-primary-700: #1F274A;
$c-primary-800: #192041;
$c-primary-900: #0F1430;

$c-primary: $c-primary-200;
$c-secondary: $c-secondary-400;

$c-primary-dark: #0D456E; 

$fc-primary: rgba(255,255,255,0.95);


$c-primary-dark: #0D456E;
$c-secondary: #E3DFFF;

$c-success: #378F2B;
$c-danger: #E23D41;

$size-sm: 8px;
$size-md: 16px;
$size-lg: 32px;

$border-radius: 16px;

$font-size-large: 48px;
$font-size-medium: 32px;
$font-size-small: 24px;

$font-base: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;