.button-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-left: 16px;
}



.button-prompt-image {
    width: 32px;
}

.button-prompt-label {
    padding: 8px;
    padding: 8px;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

