
.nav-items {
    display: flex;
    border-bottom-color: rgba(255,255,255,0.1);
    border-bottom-width: 1px;
}

.hidden {
    display:none;
}

.nav-panel {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
}

.current-page {
    
}

.nav-button {
    border-radius: 0;
}