@import "/Degg/Ui/Styles/variables.scss";

.base {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}


.items-container {
    padding: 8px;
    padding-bottom: 0px;
    background-color: $c-primary-500;
    position: absolute;
}

.hidden {
    display: none;
}

.money-container {
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-primary-500;
    position: absolute;
    border-bottom-left-radius: $border-radius;
    border-left-width: 3px;
    border-bottom-width: 3px;
    border-color: rgba(0,0,0,0.5);
}

.money {
    font-size: $font-size-medium;
    color: rgba(yellow,0.9);
}